body {
  background-color: #3FB0AC;
}
.blue-dot {
  height: 55px;
   width: 55px;
   border-radius: 50%;
   display: inline-block;
    margin: 5em;
    background-color: blue;
}
.float .blue-dot {
    float: left;
}
.float .float-right {
    float: right;
}
.container1 {
   width: 50%;
   min-width: 400px;
   max-width: 600px;
   height: 200px;
   background-color: gold;
   color: #fff;
   border: 10px solid #fff;
   border-style: double;
   width: 80%;
   padding: .5em;
   margin: auto;
}
body{
  font-family: Verdana, Arial, Tahoma;
  font-size: 12px;
}
.container2 {
  position: absolute;
top: 350px;
left: 400px;
   width: 50%;
   min-width: 400px;
   max-width: 600px;
   height: 200px;
   background-color: pink;
   color: #fff;
   border: 10px solid #fff;

   border-style: ;
   border-top-style: dashed;
   border-bottom-style: solid;
   border-left-style: dashed;
   border-right-style: solid;

   border-color: ;
   border-top-color: red;
   border-bottom-color: yellow;
   border-left-color: orange;
   border-right-color: blue;
   width: 80%;
   padding: .5em;
   margin: auto;
}
.childcontainer {
   margin-left: auto;
   margin-right: auto;
   margin-top: 2em;
   margin-bottom: 2em;
   max-width: 7em;
   text-align: center;
   padding: 2em;
   color: #000;
   background-color: gold;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: blue;
    font-family: Verdana, Arial, Tahoma;
    margin-top: 0;
    height: 4em;
    width: 100%;
    text-align: right;
}

.menu-item {
    display: inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: center;
    background-color: red;
    padding: 0.5em 1em;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
}

.menu-item:hover {
    background-color: pink;

}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0.5em 0 0 -1em;
    color: #000;
    background-color: #fff;
    z-index: 1;
}
.dropdown-content a {
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 5.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: pink;
    background-color: blue;
}
