
body{
    background-color: white;
}

div{
    text-align: left;
    line-height: 2em;
    font-family: Verdana , Arial, Tahoma;
    margin-bottom: 10px;
    padding: 5px;
}
h1, h3, h5{
    text-align: center;
    font-family: Verdana, Arial, Tahoma;

}
.opening-paragraph{
    color: black;
    font-size: 16px;
    text-indent: 10px;
    font-weight:700;
}

.opening-paragraph::first-line{
    font-size: 16px;
}
.second-paragraph{
    font-size: 16px;
}

table{
    border: 1px dashed black;
    font-family:  Verdana, Arial, Tahoma;
    font-weight: 700;
    padding: 10px;
}


p{
    font-family:  Verdana, Arial, Tahoma;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #1C75BC;
    font-family: Verdana, Arial, Tahoma;
    text-transform: uppercase;
    margin-top: 0;
    height: 4em;
    width: 100%;
    text-align: right;
}


.menu-item {
    display: inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: center;
    background-color:#1C75BC;
    padding: 0.5em 1em;
}


.menu-item a {
    color: black;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #27AAE1;

}


.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #F48FB4;
    margin: 0.5em 0 0 -1em;
    color: #27AAE1;
    background-color: #fff;
    z-index: 1;
}
.dropdown-content a {
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 5.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: black;
    background-color: #F48FB4;
}

.mainimage{
    float: left;
    content:url("../images/logo.png");
    width: 70px;
    height: 60px;
    margin-top: 0px;

}



@media only screen and (min-width: 60px) {
    .mainimage{
        content:url("../images/logo.png");
    }
}


.secondimage{
    float:left;
    content:url("../images/self.Jpg");
    width: 650px;
    height: 450px;
}


@media only screen and (min-width: 600px) {
    .secondimage{
        float:left;
        content:url("../images/self.Jpg");
    }
}

.thirdimage{
    float: right;
    content:url("../images/brownbear.jpg");
}

@media only screen and (min-width: 600px) {
    .thirdimage{
        float: right;
        content:url("../images/brownbear.jpg");
    }
}

.contactus{
    width:50%;
    margin-left: 25%;

}
.container1 {
  float: right;
   width: 50%;
   min-width: 650px;
   max-width: 650px;
   height: 350px;
   background-color: #F48FB4;
   color: black;
   border: 10px solid #fff;
   border-style: double;
   width: 80%;
   padding: .5em;
   margin: auto;

 }
 .container2 {
   float: right;
    width: 50%;
    min-width: 400px;
    max-width: 400px;
    height: 450px;
    background-color: #F48FB4;
    color: black;
    border: 10px solid #fff;
    border-style: double;
    width: 80%;
    padding: .5em;
    margin: auto;
